#about {
    padding: 3vw;
    display: grid;
}

#about header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about h1 {
    color: var(--yellow);
    font-size: clamp(40px, 5vw, 5vw);
    animation: expand 1s;
    display: inline-block;
}

#about #pdf {
    display: inline-block;
    background-color: var(--yellow);
    opacity: 0.8;
    padding: 10px;
    box-shadow: 5px 5px 5px var(--bgBlack);
    color: var(--bgBlack);
    text-decoration: none;
    font-weight: 400;
    transition: 0.5s;
    animation: bounce 1.5s;
}

#about #pdf:hover {
    opacity: 1;
}

#about article {
    margin: 20px 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    border-bottom: 1px solid var(--borderBlack);
}

#about aside {
    display: flex;
    align-items: center;
}

#about h3 {
    color: var(--yellow);
    font-size: clamp(18px, 1.5vw, 1.5vw);
}

#about p {
    color: var(--white);
    font-size: clamp(16px, 1.3vw, 1.3vw);
    padding: 10px;
}

#about em {
    font-style: normal;
    color: var(--yellow);
}

#about h2 {
    color: var(--grey);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#about .flexContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

#about .iconWithText {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#about #arrow {
    all: unset;
    cursor: pointer;
    background-image: url("/icons/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

#about #ripple {
    border: 2px solid var(--yellow);
    border-radius: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    animation-name: ripple;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#about #funFact {
    display: inline-block;
}

@keyframes ripple {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}